.cards {
    transform: scale(.8);
    width: 20rem;
    height: 10rem;
    position: relative;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards:hover {
    box-shadow: 0 6px 12px 0 rgba(30, 187, 187, 0.2), 0 10px 20px 0 rgba(96, 212, 212, 0.308);
}

.inner {
    overflow: hidden;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .prod-card-body {
    height: 30%;
} */

.inner .image-card {
    transition: all 1s ease;
}

.inner:hover .image-card {
    transform: scale(1.5);
}

.image-card {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.price-text {
    color: blue;
}

/* .description {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
  } */